*.pyc
bin/
config.ini
include/
local/
lib/
static/
*.swp
*.rdb
storage/
pip-selfcheck.json
.sass-cache/
overrides/
.pgp
build
hub.sr.ht-api
*_gen.go
api/graph/api/generated.go
ariadne/*.toml
hubsrht/services/builds/*.py
hubsrht/services/git/*.py
hubsrht/services/hg/*.py
hubsrht/services/lists/*.py
hubsrht/services/todo/*.py
