{% extends "project-resource-new.html" %}
{% block content %}
<div class="row">
  <form class="col-lg-10" method="POST">
    {{csrf_token()}}
    <h3>Add source code repository</h3>
    <div class="event-list">
      <div class="event">
        <button type="submit" name="git" class="btn btn-primary pull-right">
          Add git repositories&nbsp;{{icon('caret-right')}}
        </button>
        <h3 style="border: none; padding-bottom: 0">
          git
        </h3>
      </div>
      <div class="event">
        <button type="submit" name="hg" class="btn btn-primary pull-right">
          Add hg repositories&nbsp;{{icon('caret-right')}}
        </button>
        <h3 style="border: none; padding-bottom: 0">
          Mercurial
        </h3>
      </div>
    </div>
    {# TODO
    <div class="form-group text-right">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="checkbox"
            name="remember-preference"> Remember my preference
        </label>
      </div>
    </div>
    #}
    <div class="alert alert-info">
      {{cfg("sr.ht", "site-name")}} supports multiple version control systems.
      You may use any combination of version control systems in your project.
      If you're not sure, choose git.
    </div>
  </form>
</div>
{% endblock %}
