{% extends "project-base.html" %}
{% block title %}
<title>Manage trackers - {{project.name}}</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 event-list">
      <h3>Manage mailing lists</h3>
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search trackers"
          class="form-control{% if search_error %} is-invalid{% endif %}"
          value="{{ search if search else "" }}" />
        {% if search_error %}
          <div class="invalid-feedback">{{ search_error }}</div>
        {% endif %}
      </form>
      {% for tracker in trackers %}
      <div class="event">
        <h4>
          <a
            href="{{tracker.url()}}"
          >{{tracker.owner.canonical_name}}/{{tracker.name}}</a>
        </h4>
        {% if tracker.description %}
        {{ tracker.description | md }}
        {% endif %}
        <a
          class="btn btn-danger"
          href="{{url_for("trackers.delete_POST",
            owner=project.owner.canonical_name,
            project_name=project.name,
            tracker_id=tracker.id)}}"
        >Remove tracker {{icon('caret-right')}}</a>
      </div>
      {% endfor %}
      {{pagination()}}
    </div>
  </div>
</div>
{% endblock %}
